

.matchup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  width: 100px;
  text-align: center;
  font-size: 12px;
}

.two {
  height: 18%;
  width: 100px;
}

.three {
  height: 35%;
  width: 100px;
}

.four {
  height: 73%;
  width: 100px;
}

.spacer {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 70%;
  width: 100%;
}

.team {
  margin: 0;
}