@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
  min-height: 100vh;
}
.round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

.matchup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  width: 100px;
  text-align: center;
  font-size: 12px;
}

.two {
  height: 18%;
  width: 100px;
}

.three {
  height: 35%;
  width: 100px;
}

.four {
  height: 73%;
  width: 100px;
}

.spacer {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 70%;
  width: 100%;
  border-color: whitesmoke;
}

.team {
  margin: 0;
}

.select {
  color: white;
  font-size: xx-large;
  /* margin-top: 180px; */
  height: 350px;
  overflow-y: scroll;
  width: 100%;
  /* border: 1px solid white; */
}

.list {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  /* margin-top: 130px; */
  margin-top: 20%;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: grey;
}

::-webkit-scrollbar-thumb {
  background: white
}

.red {
  color: red;
}