@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  min-height: 100vh;
}
.round {
  width: 50%;
}
.future-round {
  width: 10%;
}
.round,
.future-round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}
.matchup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.one {
  height: 9%;
  width: 100%;
}
.two {
  height: 18%;
  width: 100%;
}

.three {
  height: 35%;
  width: 100%;
}

.four {
  height: 73%;
  width: 100%;
}

.spacer {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 60%;
  width: 100%;
  border-color: whitesmoke;
}

.team {
  margin: 0;
}

.select {
  color: white;
  font-size: x-large;
  height: 400px;
  overflow-y: scroll;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0 7px;
}

li {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 10px 0;
  padding: 0 5px;
  width: 100%;
  /* padding-left: px; */
}

.list {
  display: flex;
  flex-direction: column;
  width: 750px;
  /* min-width: 320px; */
  align-items: center;
  margin-top: 150px;
  height: 75vh;
}

.select-btn {
  width: 110px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: grey;
}

::-webkit-scrollbar-thumb {
  background: white;
}

.red {
  color: red;
}

.search {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .list {
    /* width: 320px; */
    width: 95vw;
    margin-top:10px;
  }

  .search {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 75%;
  }
}

.ReactModalPortal {
  background-color: rgb(0, 31, 7);
}